<% @listings.each do |listing| %>
<ul class="list-group">
	<li class="list-group-item">
		<span class="listing-index-created-at"><%= time_ago_in_words(listing.created_at).gsub('about','') %> ago</span>
		<% if listing.photo1.present? %>
			<span class="listing-index-image"><%= image_tag listing.photo1, :size => '35x35' %></span>
		<% elsif listing.photo2.present? %>
			<span><%= image_tag listing.photo2.url(:thumb) %></span>
		<% end %>
		<%= link_to listing.name, listing_path(listing.id), :class => "listing-index-name" %>
		<span class="listing-index-price"><%= number_to_currency(listing.price) %>/<%= listing.bundle_type %></span>
		<% if listing.for_sale %>
			<span class="glyphicon glyphicon-ok" id="span-stack">Sale</span>
		<% end %>
		<% if listing.for_trade %>
			<span class="glyphicon glyphicon-ok" id="span-stack">Trade</span>
		<% end %>
		<% if listing.for_donation %>
			<span class="glyphicon glyphicon-ok" id="span-stack">Donate</span>
		<% end %>
		</li>
</ul>
<% end %>


