<%= form_for @listing do |f| %>
  <% if @listing.errors.any? %>
    <h3>Error's present:</h3>
    <ul>
      <% @listing.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <br>
  <%= f.label 'Title' %><br>
  <%= f.text_field :name %><br>

  <%= f.label 'Description' %><br>
  <%= f.text_area :description %><br>

  <%= f.label 'Price' %><br>
  <%= f.number_field :price %><br>

  <%= f.label 'Bundle Type' %><br>
  <%= f.select(:bundle_type, options_for_select(['each','per lb','all'])) %><br> 

  <%= f.label 'Location' %><br>
  <%= f.select(:city, options_for_select(['Portland','Seattle'])) %><br>

  <%= f.label 'Category' %><br>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %><br> 

  <%= f.label 'For Sale' %>
  <%= f.check_box :for_sale, {}, 'for sale' %><br>  
  <%= f.label 'For Trade' %>
  <%= f.check_box :for_trade, {}, 'for trade' %><br>
  <%= f.label 'For Free' %>
  <%= f.check_box :for_donation, {}, 'for free' %><br>

  <%= f.submit 'Submit' %>
<% end %>