<!DOCTYPE html>
<html>
<head>
  <title>Ripelist</title>
  <%= favicon_link_tag image_path('favicon.ico') %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='rlmenu'>
  <ul>
    <li><%= link_to(image_tag('ripelistLogoSmall.png', :class => 'rllogo'), "/") %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Post', new_listing_path %></li>
      <li><%= link_to current_user.email, user_path(current_user.id) %></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Post', new_user_session_path %></li>
      <li><%= link_to 'Log in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
<% flash.each do |name, message| %>
  <br><%= message %>
<% end %>
<%= yield %>

</body>
</html>
