<!DOCTYPE html>
<html>
<head>
  <title>Ripelist</title>
  <%= favicon_link_tag image_path('favicon.ico') %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='rlmenu'>
  <ul>
    <li><%= link_to(image_tag('ripelistLogoSmall.png', :class => 'rllogo'), "/") %></li>
    <% if current_user %>
      <li><%= link_to 'Post', new_listing_path %></li>
    <% else %>
      <li><%= link_to 'Post', sessions_path %></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to current_user.username, user_path(current_user.id) %></li>
      <li><%= link_to 'Log out', session_path(current_user.id), method: 'delete' %></li>
    <% else %>
      <li><%= link_to 'Log in', sessions_path %></li>
      <li><%= link_to 'Sign up', new_user_path %></li>
    <% end %>
  </ul>
</div>
<% flash.each do |name, message| %>
  <br><%= message %>
<% end %>
<%= yield %>

</body>
</html>
