<!DOCTYPE html>
<html>
<head>
  <title>Ripelist</title>
  <%= favicon_link_tag image_path('favicon.ico') %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(image_tag('ripelistLogoSmall.png', :class =>"navbar-brand", :id => "navbar-brand"), "/") %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to 'Post', new_listing_path %></li>
      <% else %>
        <li><%= link_to 'Post', new_user_session_path %></li>
      <% end %>
      </ul>
      <div class="form-wrapper">
        <%= form_tag listings_path, :method => 'get', :class => "navbar-form navbar-left" do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], :class => "form-control col-lg-8", :id => "search" %>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-success btn-md", :id => "search-button" %>
        </div>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, user_path(current_user.id) %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="flash-message">
<% flash.each do |name, message| %>
  <%= message %>
<% end %>
</div>

<%= yield %>

</body>
</html>
